#coding:utf-8
<p id="notice"><%= notice %></p>
  <div class = "show_text">
    <b>Date:</b>
    <%= @report.report_date %>
  </div>

  <div class = "show_text">
    <b>Title:</b>
    <%= @report.title %>
  </div>


  <div class = "show_text">
    <b>Bodytext:</b>
    <%= @report.body_text %>
  </div>

  <div class = "show_text">
    <b>公開状態</b>
    <%= @report.public_flag? ? "O" : "X"%>
  </div>
<%= link_to 'Edit', edit_report_path(@report) %>
<%= render 'report_list_button' %>