#coding:utf-8

<div class = "site_header" >
    <div class = "logo">
        <h2>日報アプリケーション</h2>
    </div>
    <%if signed_in? %>
        <div class = "log_in_user">
            <% if Rails.env.development? %>
                <!-- 開発時に表示 -->
                userID:[<%="#{current_user.id}" %> ]
                Admin:[<%="#{current_user.admin?}" %> ]
                <br>
            <% end%>
            ユーザーの名前[ <%="#{current_user.name}"%> ]
            E-mail:[<%="#{current_user.email}"%>]

            <% if current_user.admin? %>
                <%= link_to "Report List(Admin)", all_report_path%>
                <%= link_to "User list(Admin)", '#'%>
            <% end %>

            <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
        </div>
    <% else %>
        サインインしてください<br>
    <% end %>
    <hr>
</div>